.image {
  margin: 0 calc(100vh / 10);
}

/* @media screen and (max-width: 480px) {
  .image {
    margin: 0 24px;
  }
}

@media screen and (min-width: 480px) and (max-width: 780px) {
  .image {
    margin: 0 36px;
  }
}

@media screen and (min-width: 780) and (max-width: 1020) {
  .image {
    margin: 0 44px;
  }
} */
